<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Jonathan Solichin VR Portfolio; Designer, Developer, Maker</title>
		<meta name="description" content="The VR Portfolio of Jonathan Solichin, a UX Designer, a front-end developer, and an everything maker.">
		<meta name="theme-color" content="#000">
		<link rel="icon" sizes="192x192" href="images/icon.png">
		<link rel="shortcut icon" href="images/favicon.ico" >

		<script src="https://aframe.io/releases/0.2.0/aframe.min.js"></script>
		<script src="node_modules/aframe-template-component/dist/aframe-template-component.min.js"></script>
		<script src="node_modules/aframe-layout-component/dist/aframe-layout-component.min.js"></script>
		<script src="node_modules/aframe-text-component/dist/aframe-text-component.min.js"></script>
		<script src="node_modules/aframe-htmltexture-component/node_modules/aframe-draw-component/dist/aframe-draw-component.js"></script>
		<script src="node_modules/aframe-htmltexture-component/dist/aframe-htmltexture-component.js"></script>
		<script src="script.js"></script>

		<style>
			body {
				background: linear-gradient(#CADCF7, #DB7F7F);	
				font-family: helvetica, arial, "sans-serif";
				cursor: all-scroll;
				user-select: none;   
			}
			.u-hide {
				display: none;
			}
			#header {
				text-align: center;
				padding: 20px;
				pointer-events: none;
			}
			#logo {
				width: 100px;	
			}
			.description {
				font-size: 20px;
			}
			#footer {
				position: absolute;
				bottom: 0px;
				left: 0px;
				padding: 10px;
			}
			#footer ul {
				list-style-type: none;
				padding: 0px;
				margin: 0px;
				color: #fff;
			}
			#footer ul li {
				float: left;
				margin-right: 10px;
			}
			#footer ul li span {
				display: inline-block;
				margin-top: 4px;
				font-size: .8em;
				opacity: .5;
			}
			a {
				text-decoration: none;
				color: #fff;
				display: block;
				padding: 2px 5px;
				border: 1px solid #fff;
				border-radius: 3px;
			}
			a:hover {
				background: #fff;
				color: #DB7F7F;
			}
			#warning {
				display: none;
				position: absolute;
				top: 10px;
				left: 50%;
				transform: translateX(-50%);
				padding: 10px;
				border-radius: 3px;
				text-align: center;
				background: rgba(255,233,107,.7);
			}

		</style>
	</head>
	<body>
		<a-scene>

			<a-assets timeout="1000">

				<img id="a-1" src="images/a-1.png">
				<img id="a-2" src="images/a-2.png">
				<img id="a-3" src="images/a-3.png">
				<img id="a-4" src="images/a-4.png">
				<img id="a-5" src="images/a-5.png">
				<img id="a-6" src="images/a-6.png">

				<img id="b-1" src="images/b-1.png">
				<img id="b-2" src="images/b-2.png">
				<img id="b-3" src="images/b-3.png">
				<img id="b-4" src="images/b-4.png">
				<img id="b-5" src="images/b-5.png">
				<img id="b-6" src="images/b-6.png">

				<img id="c-1" src="images/c-1.png">
				<img id="c-2" src="images/c-2.png">
				<img id="c-3" src="images/c-3.png">
				<img id="c-4" src="images/c-4.png">
				<img id="c-5" src="images/c-5.png">

				<img id="d-1" src="images/d-1.png">
				<img id="d-2" src="images/d-2.png">
				<img id="d-3" src="images/d-3.png">
				<img id="d-4" src="images/d-4.png">
				<img id="d-5" src="images/d-5.png">
				<img id="d-6" src="images/d-6.png">

				<img id="e-1" src="images/e-1.png">
				<img id="e-2" src="images/e-2.png">
				<img id="e-3" src="images/e-3.png">
				<img id="e-4" src="images/e-4.png">
				<img id="e-5" src="images/e-5.png">
				<img id="e-6" src="images/e-6.png">

				<img id="profile" src="images/profile.png">
			    <img id="go-home" src="images/go-home-white.png">
			    <img id="this-is-home" src="images/this-is-home-white.png">
			    <img id="insignia" src="images/insignia.png">
				<a-asset-item id="twitter-obj" src="obj/twitter.obj"></a-asset-item>
				<a-asset-item id="github-obj" src="obj/github.obj"></a-asset-item>
				<a-asset-item id="instagram-obj" src="obj/instagram.obj"></a-asset-item>
				<a-asset-item id="medium-obj" src="obj/medium.obj"></a-asset-item>
				<a-asset-item id="mtl" src="obj/mtl.mtl"></a-asset-item>

				<a-mixin id="border" material="color: #0000FF" geometry="width: .1; height: .1; depth: .2;"></a-mixin>
				<a-mixin id="growY" easing="ease-in" dur="1500" attribute="height" to="4.9"></a-mixin>
				<a-mixin id="growX" easing="ease-in" dur="1500" attribute="width" to="4.9"></a-mixin>
				<a-mixin id="shrinkY" fill="forwards" easing="ease-bounce" dur="500" attribute="height" to="0"></a-mixin>
				<a-mixin id="shrinkX" fill="forwards" easing="ease-bounce" dur="500" attribute="width" to="0"></a-mixin>
				<a-mixin id="text" material="color: #fff" text="text: Hello; size: 1; height: .2"></a-mixin>

				<script id="gallery" type="text/x-nunjucks-template">

					<!-- social media icons -->
					{% set socialMedias = [
						{objName: 'twitter', url: 'http://twitter.com/jssolichin', position: '-3 .2 0', 
							pivotTo: '90 10 0', from: '90 -10 0', to: '90 -720 0'},
						{objName: 'github', url: 'http://github.com/jssolichin', position: '-1 0 0', 
							pivotTo: '50 0 0', from: '80 0 0', to: '800 0 0'},
						{objName: 'medium', url: 'http://medium.com/@jssolichin', position: '1 0 0', 
							pivotTo: '100 0 0', from: '50 0 0', to: '-800 0 0'},
						{objName: 'instagram', url: 'http://instagram.com/jssolichin', position: '3 .1 0', 
							pivotTo: '90 -10 0', from: '90 10 0', to: '90 720 0' }
					] %}

					{% macro socialMediaMacro(data) %}
						<a-entity position="{{data.position}}" go-to="url: {{data.url}}; from: {{data.from}}; to: {{data.to}}">
							<a-box opacity="0"/>
							<a-entity class="icon" scale="20 20 20" rotation="90 0 0" obj-model="obj: #{{data.objName}}-obj; mtl: #mtl">
								<a-animation direction="alternate" easing="ease-elastic" attribute="rotation" from="{{data.from}}" to="{{data.pivotTo}}" repeat="indefinite" dur="1500" ></a-animation>
							</a-entity>
						</a-entity>
					{% endmacro %}

					<!-- Main gallery generator -->

					{% set tags = [
						{mainTitle: true, title: 'Title 1'},
						{set: 'a', title: 'DEFERRR', title2: 'RRRRRRED', range: 7, url: 'http://jssolichin.com/blog/deferrrrrrrrred/'},
						{set: 'b', title: 'INFINITE', title2: 'MONDRIAN', range: 7, url: 'http://infinitemondrian.com'},
						{set: 'c', title: 'LUNA', title2: 'VIEWPOINT', range: 6, url: 'http://jssolichin.com/blog/luna-viewpoint/'},
						{set: 'e', title: 'SCHEDULENAUT', title2: 'WEB APP', range: 7, url: 'http://schedulenaut.com'},
						{set: 'd', title: 'TWINE', title2: 'MOBILE APP', range: 7, url: 'http://sevenbillionyou.com/twine'}
					] %}

					{% macro galleryItem(data) %}
						<a-entity look-at="#center" item>
							<!-- subgallery -->
							<a-entity position="0 0 -70"  class="childrenCenter">
								<a-entity position="0 -2 0" rotation="-90 0 0" go-home>
									<a-image rotation="-90 0 0" width="10" height="10" src="#go-home" material="transparent: true" go-home>
										<a-animation easing="linear" attribute="rotation" from="0 0 0" to="0 0 360" repeat="indefinite" dur="120000"></a-animation>
									</a-image>
									<a-image position="0 0 .2" width="8.5" height="8.5" src="#go-home" material="transparent: true">
										<a-animation easing="linear" attribute="rotation" from="0 0 0" to="0 0 -360" repeat="indefinite" dur="120000"></a-animation>
									</a-image>
								</a-entity>
								
								<a-entity position="0 10 -1" rotation="90 0 0" go-to-project="url: {{data.url}}">
									<a-box position="0 .5 0" height="3" width="17" opacity="0" />
									<a-entity position="0 .7 0">
										<a-box class="item" height=".3" width="0" material="color: blue;">
										</a-box>
									</a-entity>
									<a-entity position="-8.5 0 0" scale="1.5 1.5 1.5" mixin="text" text="text: GO TO PROJECT;" ></a-entity>
								</a-entity>

								<a-entity id="lookCenter" layout="type: circle; radius: 3">
								{% for z in range(2,data.range) %}
										<a-entity look-at="#center">
									<a-curvedimage src="#{{data.set}}-{{z}}" width="12.8" height="10" 
											material="transparent:true;" geometry="primitive:plane;"  rotation="0 -30 0" 
											radius="20" theta-length="55" ></a-curvedimage> 
										</a-entity>
									{% endfor %}
								</a-entity>
							</a-entity>

							<!-- main gallery image -->
							<a-curvedimage src="#{{data.set}}-1" width="12.8" height="10" 
							position="0 2.2 11" material="transparent:true;" geometry="primitive:plane;" rotation="0 150 0" 
							radius="20" theta-length="55" main-item></a-curvedimage> 

							<!-- main gallery title -->
							<a-entity position="-6 4.3 -1.5">
								<a-entity position="0 .6 0" mixin="text" text="text: {{tag.title}};"></a-entity>
								<a-entity position="0 -.6 0" mixin="text" text="text: {{tag.title2}};"></a-entity>
								<a-box position="2.5 -1.2 0" material="color: red;" height=".25" width="5" depth=".2"></a-box>
							</a-entity>

							<!-- main gallery description
							<a-entity geometry="primitive: plane; width: 6; height: 1" position="0 -1 5" rotation="-60 0 0" draw="width: 600; height: 100; background: transparent;" htmltexture="asset: .description"></a-entity>
 -->
						</a-entity>
					{% endmacro %}

					<!-- Let's generate the gallery -->
					<a-entity layout="type: circle; radius: 12" rotation="0 92.5 0" position="0 0 0">

					{% for tag in tags %}
						{% if tag.mainTitle %}

							<a-entity look-at="#center">
								<a-curvedimage src="#profile" width="12.8" height="10" 
								position="0 2.2 11" material="transparent:true;" geometry="primitive:plane;" rotation="0 150 0" 
								radius="20" theta-length="55"></a-curvedimage> 

							<a-entity position="-3.5 2 0" rotation="20 0 0">
								<a-entity position="7.7 2.5 4" mixin="text" text="text: β;" scale=".4 .4 .4"></a-entity>
								<a-entity position="0 1.7 4" mixin="text" text="text: JSSOLICHIN;"></a-entity>
								<a-entity position="-.9 -.6 1" mixin="text" text="text: UX / Developer / Creative; size: .6"></a-entity>
								<a-box position="4.1 -2 0" material="color: red;" height=".25" width="5" depth=".2"></a-box>
							</a-entity>

							<a-entity position=".5 -1 0">
								{% for socialMedia in socialMedias %}
									{{ socialMediaMacro(socialMedia) }}
								{% endfor %}
							</a-entity>

							</a-entity>

						{% else %}
							{{ galleryItem(tag) }}
						{% endif %}
					{% endfor %}

					</a-entity>
				</script>

				<div class="description" >
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam iaculis odio mi, a semper erat rhoncus et. Etiam nec sapien urna. Suspendisse potenti. Duis placerat nunc nec neque venenatis, id malesuada nulla dapibus. Proin eleifend metus eget mauris imperdiet malesuada eu et tortor. 
				</div>

			</a-assets>

			<a-entity light="type: hemisphere; groundColor: #CADCF7; color: #DB7F7F; intensity: .4"></a-entity>


			<a-entity  id="camera" position="0 0 0"  click-listener>
				<a-camera position="0 2 0" >
				<a-entity light="type: point; intensity: 1; distance: 100; decay: 2" position="0 1 0" rotation="0 -90 0" ></a-entity>
					<a-entity 
						position="0 0 -3"
						geometry="primitive: ring; radiusOuter: 0.04; radiusInner: 0.03;"
						material="color: cyan; shader: flat"
						cursor="maxDistance: 30; fuse: true">
					</a-entity>
				</a-camera>
			</a-entity>

			<a-entity id="center" position="0 0 0">
				<a-image rotation="-90 0 0" width="4" height="4" src="#this-is-home" material="transparent: true"></a-image>
				<a-image position="0 4 0" rotation="90 0 0" width="3" height="3" src="#insignia" material="transparent: true"></a-image>
			</a-entity>

			<a-entity template="src: #gallery" data-num="5"></a-entity>


		</a-scene>

		<div id="header">
			<img id="logo" src="images/logo-white.png">
		</div>

		<div class="u-hide">
			<h1>Jonathan Sebastian Solichin</h1>
			<h2>UX Designer, Front-end Developer, and Maker</h2>
			<h3>He is obsessed with transforming data into understanding through visualizations and interfaces.</h3>
			<p>He graduated in 2015 from UCLA’s Design Media Arts program with a minor in Digital Humanities in GIS.</p>

			<ul>
				<li><a href="http://twitter.com/jssolichin">Twitter</a></li>
				<li><a href="http://github.com/jssolichin">Github</a></li>
				<li><a href="http://medium.com/@jssolichin">Medium</a></li>
				<li><a href="http://instagram.com/jssolichin">Instagram</a></li>
			</ul>

			<p>Made with love in California in 2016.</p>
		</div>

		<div id="footer">
			<ul>
				<li>
					<a href="http://jssolichin.com/blog/">Visit Non-VR</a>
				</li>
				<li>
					<span id="check-other"></span>
				</li>
			</ul>
		</div>

		<div id="warning">
			<b>Warning</b>: Link will leave VR experience.
		</div>

	</body>
</html>
