<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Hello, World! • A-Frame</title>
		<meta name="description" content="Hello, World! • A-Frame">
		<script src="https://aframe.io/releases/0.2.0/aframe.min.js"></script>
		<script src="node_modules/aframe-template-component/dist/aframe-template-component.min.js"></script>
		<script src="node_modules/aframe-layout-component/dist/aframe-layout-component.min.js"></script>
		<script src="node_modules/aframe-text-component/dist/aframe-text-component.min.js"></script>
		<script src="node_modules/aframe-htmltexture-component/node_modules/aframe-draw-component/dist/aframe-draw-component.js"></script>
		<script src="node_modules/aframe-htmltexture-component/dist/aframe-htmltexture-component.js"></script>
		<script src="script.js"></script>
		<style>
			body {
				background: linear-gradient(#CADCF7, #DB7F7F);	
				font-family: helvetica, arial, "sans-serif";
			}
			#header {
				text-align: center;
				padding: 20px;
				pointer-events: none;
			}
			#logo {
				width: 100px;	
			}
			.description {
				font-size: 20px;
			}
			#footer {
				position: absolute;
				bottom: 0px;
				left: 0px;
				padding: 10px;
			}
			a {
				text-decoration: none;
				color: #fff;
				display: block;
				padding: 2px 5px;
				border: 1px solid #fff;
				border-radius: 3px;
			}
			a:hover {
				background: #fff;
				color: #DB7F7F;
			}
		</style>
	</head>
	<body>
		<a-scene>

			<a-assets>
				<img id="one" src="images/one.png">
			    <img id="go-home" src="images/go-home-white.png">
			    <img id="this-is-home" src="images/this-is-home-white.png">
			    <img id="insignia" src="images/insignia.png">
				<a-asset-item id="twitter-obj" src="obj/twitter.obj"></a-asset-item>
				<a-asset-item id="github-obj" src="obj/github.obj"></a-asset-item>
				<a-asset-item id="instagram-obj" src="obj/instagram.obj"></a-asset-item>
				<a-asset-item id="medium-obj" src="obj/medium.obj"></a-asset-item>
				<a-asset-item id="mtl" src="obj/mtl.mtl"></a-asset-item>

				<a-mixin id="border" material="color: #0000FF" geometry="width: .1; height: .1; depth: .2;"></a-mixin>
				<a-mixin id="growY" easing="ease-in" dur="1500" attribute="height" to="4.9"></a-mixin>
				<a-mixin id="growX" easing="ease-in" dur="1500" attribute="width" to="4.9"></a-mixin>
				<a-mixin id="shrinkY" fill="forwards" easing="ease-bounce" dur="500" attribute="height" to="0"></a-mixin>
				<a-mixin id="shrinkX" fill="forwards" easing="ease-bounce" dur="500" attribute="width" to="0"></a-mixin>
				<a-mixin id="text" material="color: #fff" text="text: Hello; size: 1; height: .2"></a-mixin>

				<script id="gallery" type="text/x-nunjucks-template">

					<!-- social media icons -->
					{% set socialMedias = [
						{objName: 'twitter', url: 'http://twitter.com/jssolichin', position: '-3 .2 0', 
							pivotTo: '90 10 0', from: '90 -10 0', to: '90 -720 0'},
						{objName: 'github', url: 'http://github.com/jssolichin', position: '-1 0 0', 
							pivotTo: '50 0 0', from: '80 0 0', to: '800 0 0'},
						{objName: 'medium', url: 'http://medium.com/@jssolichin', position: '1 0 0', 
							pivotTo: '100 0 0', from: '50 0 0', to: '-800 0 0'},
						{objName: 'instagram', url: 'http://instagram.com/jssolichin', position: '3 .1 0', 
							pivotTo: '90 -10 0', from: '90 10 0', to: '90 720 0' }
					] %}

					{% macro socialMediaMacro(data) %}
						<a-entity position="{{data.position}}" go-to="url: {{data.url}}; from: {{data.from}}; to: {{data.to}}">
							<a-box opacity="0"/>
							<a-entity class="icon" scale="20 20 20" rotation="90 0 0" obj-model="obj: #{{data.objName}}-obj; mtl: #mtl">
								<a-animation direction="alternate" easing="ease-elastic" attribute="rotation" from="{{data.from}}" to="{{data.pivotTo}}" repeat="indefinite" dur="1500" ></a-animation>
							</a-entity>
						</a-entity>
					{% endmacro %}

					<!-- Main gallery generator -->

					{% set tags = [
						{mainTitle: true, title: 'Title 1'},
						{title: 'Title 2', title2: 'WORLD'},
						{title: 'hello', title2: 'WORLD'},
						{title: 'hello', title2: 'WORLD'},
						{title: 'hello', title2: 'WORLD'}
					] %}

					{% macro galleryItem(data) %}
						<a-entity look-at="#center" item>
							<!-- subgallery -->
							<a-entity position="0 0 -70"  class="childrenCenter">
								<a-entity position="0 -2 0" rotation="-90 0 0" go-home>
									<a-image rotation="-90 0 0" width="10" height="10" src="#go-home" material="transparent: true" go-home>
										<a-animation easing="linear" attribute="rotation" from="0 0 0" to="0 0 360" repeat="indefinite" dur="120000"></a-animation>
									</a-image>
									<a-image position="0 0 .2" width="8.5" height="8.5" src="#go-home" material="transparent: true">
										<a-animation easing="linear" attribute="rotation" from="0 0 0" to="0 0 -360" repeat="indefinite" dur="120000"></a-animation>
									</a-image>
								</a-entity>
								<a-entity id="lookCenter" layout="type: circle; radius: 3">
									{% for z in range(5) %}
										<a-entity look-at="#center">
											<a-curvedimage src="#one" width="12.8" height="10" 
											material="transparent:true;" geometry="primitive:plane;"  rotation="0 -30 0" 
											radius="20" theta-length="55" ></a-curvedimage> 
										</a-entity>
									{% endfor %}
								</a-entity>
							</a-entity>

							<!-- main gallery image -->
							<a-curvedimage src="#one" width="12.8" height="10" 
							position="0 2.2 11" material="transparent:true;" geometry="primitive:plane;" rotation="0 150 0" 
							radius="20" theta-length="55" main-item></a-curvedimage> 

							<!-- main gallery title -->
							<a-entity position="-6 4.3 -1.5">
								<a-entity position="0 .6 0" mixin="text" text="text: {{tag.title}};"></a-entity>
								<a-entity position="0 -.6 0" mixin="text" text="text: {{tag.title2}};"></a-entity>
								<a-box position="2.5 -1.2 0" material="color: red;" height=".25" width="5" depth=".2"></a-box>
							</a-entity>

							<!-- main gallery description
							<a-entity geometry="primitive: plane; width: 6; height: 1" position="0 -1 5" rotation="-60 0 0" draw="width: 600; height: 100; background: transparent;" htmltexture="asset: .description"></a-entity>
 -->
						</a-entity>
					{% endmacro %}

					<!-- Let's generate the gallery -->
					<a-entity layout="type: circle; radius: 10" rotation="0 92.5 0" position="0 0 0">

					{% for tag in tags %}
						{% if tag.mainTitle %}

							<a-entity look-at="#center">
								<a-curvedimage src="#one" width="12.8" height="10" 
								position="0 2.2 11" material="transparent:true;" geometry="primitive:plane;" rotation="0 150 0" 
								radius="20" theta-length="55"></a-curvedimage> 

							<a-entity position="-3.5 2 0" rotation="20 0 0">
								<a-entity position="0 1.7 4" mixin="text" text="text: JSSOLICHIN;"></a-entity>
								<a-entity position="-1.2 -.6 1" mixin="text" text="text: UX / Developer / Creative; size: .6"></a-entity>
								<a-box position="3.75 -2 0" material="color: red;" height=".25" width="5" depth=".2"></a-box>
							</a-entity>

							<a-entity position="0 -1 0">
								{% for socialMedia in socialMedias %}
									{{ socialMediaMacro(socialMedia) }}
								{% endfor %}
							</a-entity>

							</a-entity>

						{% else %}
							{{ galleryItem(tag) }}
						{% endif %}
					{% endfor %}

					</a-entity>
				</script>

				<div class="description" >
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam iaculis odio mi, a semper erat rhoncus et. Etiam nec sapien urna. Suspendisse potenti. Duis placerat nunc nec neque venenatis, id malesuada nulla dapibus. Proin eleifend metus eget mauris imperdiet malesuada eu et tortor. 
				</div>

			</a-assets>

			<a-entity light="type: hemisphere; groundColor: #CADCF7; color: #DB7F7F; intensity: .4"></a-entity>


			<a-entity  id="camera" position="0 0 0"  click-listener>
				<a-camera position="0 2 0" >
				<a-entity light="type: point; intensity: 1; distance: 100; decay: 2" position="0 1 0" rotation="0 -90 0" ></a-entity>
					<a-entity 
						position="0 0 -3"
						geometry="primitive: ring; radiusOuter: 0.04; radiusInner: 0.03;"
						material="color: cyan; shader: flat"
						cursor="maxDistance: 30; fuse: true">
					</a-entity>
				</a-camera>
			</a-entity>

			<a-entity id="center" position="0 0 0">
				<a-image rotation="-90 0 0" width="4" height="4" src="#this-is-home" material="transparent: true"></a-image>
				<a-image position="0 4 0" rotation="90 0 0" width="3" height="3" src="#insignia" material="transparent: true"></a-image>
			</a-entity>

			<a-entity template="src: #gallery" data-num="5"></a-entity>


		</a-scene>

		<div id="header">
			<img id="logo" src="images/logo-white.png">
		</div>

		<div id="footer">
			<a href="#">Visit non-vr</a>
		</div>

	</body>
</html>
